<h1 class="display-1 text-center mt-5">SAVE EDITORIAL</h1>
<form action="/editorial/editorial-edit" method="POST" onsubmit="return confirm('You sure you want to save this editorial?');" class="border p-4 rounded bg-light">
     <input type="hidden" id="id" name="id" value="{{editorial.id}}">
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-control" value="{{editorial.name}}" required>
    </div>
     <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="text" id="phone" name="phone" class="form-control" value="{{editorial.phone}}" required>
    </div>
       <div class="mb-3">
        <label for="country" class="form-label">Country:</label>
        <input type="text" id="country" name="country" class="form-control" value="{{editorial.country}}" required>
    </div>
         <a href="/editorial/editorial-mant" class="btn btn-info">Go back</a>
         <button type="submit" class="btn btn-primary">Save editorial</button>
</form>